/* Reset and layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgba(255, 255, 255, 0.603); */
  /* color: white; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #fffafa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* background: transparent; */
}
.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}
/* Example section styling */
.home, .about, .skills, .project, .contact {
  color: white;
  width: 100%;
  min-height: 100vh;
  /* padding: 60px 20px; */
  /* border: 2px solid rgba(255,255,255,0.1); */
}
.navbar{
  position: fixed;
  bottom: 80px;
  left: 400px;
  width: 490px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  /* border: 2px double white; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
}

.navbar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.home h1{
  color: rgba(255, 255, 255, 0.776);
  font-size: 60px;
  text-align: center;
  margin-top: 200px;
  font-family: 'Times roman';
  letter-spacing: 20px;
}
.home h3{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Times roman';
}
.home img{
  width: 400px;
  height: 400px;
  margin-left: 750px;
  margin-top:30px;
  right: 40px;
  border: 9px double white;
  border-radius: 80px;
}


.about p{
    font-size: 30px;
    text-align: justify;
    margin-top: 80px;
    margin-left: 200px;
    margin-right:60px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif; 
    color: rgba(255, 255, 255, 0.776);
}

.aboutanimation{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.776);
  margin-left:40px;
  position: relative;
  top: 35px;
  font-family: 'Lato', sans-serif; 
}
.skills{
  margin-top: 30px;
}
/* .sh{
  color: rgba(255, 255, 255, 0.776);
  font-size: 30px;
  text-align: left;
  margin-top: 0px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
} */

.skills-section {
  text-align: center;
  padding: 40px 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 180px;
}
.skills h1{
  color: rgba(255, 255, 255, 0.776);
  font-size: 30px;
  text-align: left;
  margin-top: 60px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
}
.skill-card {
  background-color: #050513ff;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  font-family:'Lato', sans-serif ;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #39008f;
}
.project h2{
  position: relative;
  top: 70px;
  color: rgba(255, 255, 255, 0.776);
  font-size: 30px;
  text-align: left;
  margin-top: 80px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 100px;
  margin-left: 50px;
  /* opacity: 1; */
}
.card{
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 29px;
  margin-left: 300px;
  margin-right: 180px; */
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 300px;
  height: 250px;
  border-radius: 20px;
  /* display: block;
  justify-items: center;
  align-content: center; */
}

.card img{
  width: 290px;
  height: 150px;
  margin-top: 5px;
  margin-left:2.5px;
  border-radius: 14px;
}
.card p{
  padding: 5px;
  text-align: center;
  font-size: 22px;
   font-family: 'Lato', sans-serif; 
}
.card:hover {
  height: 340px; 
   transform: scale(1.05);
  background-color: #39008f;
}
.card:hover .btns a{
  opacity: 1;
  transform: translateY(0);
}
 
  
  .tag1{
  width: 40px; 
  text-decoration: none;
  color: #fff;
  height: 50px;
  position: relative;
  top:25px;
  left: 25px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
    }
 
  .tag2{
  text-decoration: none;
  color: #fff;
  height: 50px;
  position: relative;
  top:25px;
  left: 100px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .tag3{
      text-decoration: none;
  color: #fff;
  height: 50px;
  position: relative;
  top:25px;
  left: 50px;
  border: 1px solid white;
  /* background-color:  rgba(0,0,0,0.2); */
  border-radius: 5px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
    }

/* .card a:hover{
  opacity: 1;
  transform: translateY(0);
} */


.contact h1{
  color: rgba(255, 255, 255, 0.776);
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 60px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
}
.contact p , h3{
   color: rgba(255, 255, 255, 0.776);
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 60px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
}
.contact a{
  color: rgba(255, 255, 255, 0.776);
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 60px;
  margin-left: 400px;
  font-family: 'Lato', sans-serif; 
}
.contact a:hover{
  color: #39008f; 
}
.navbar a:hover{
   color: aquamarine; 
}
.s1 {
  color: aqua; 
  font-size: 30px;
}



@media (max-width: 368px) {
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  /* .home,.about,.skills,.project,.contact{
    border: 1px solid white;
  } */
  .home h1 {
    font-family: 'Times New Roman';
    font-size:40px;
    color: rgba(255, 255, 255, 0.776);
    letter-spacing: 5px;
    margin-top: 200px;
    margin-left:5px;
  }
  /* min-height: 100vh; */
  /* padding: 60px 20px; */
  /* border: 2px solid rgba(255,255,255,0.1); */
.home{
  min-height:90vh;
  padding: 60px 20px;
  /* height: 90px; */
  }
  .about{
    
    margin-top:0px;
  }
  .about p{
    font-size: 20px;
    text-align:left;
    text-justify: inter-word;
    width: 300px;
    margin-top: 85px;
    margin-left: 20px;
    margin-right:20px;
    word-spacing: 2px;
    letter-spacing:1px;
    font-family: 'Lato', sans-serif; 
    color: rgba(255, 255, 255, 0.776);
}
.s1{
  font-size: 20px;
}
.aboutanimation{
  font-size:28px;
  color: rgba(255, 255, 255, 0.776);
  margin-left:16px;
  position: relative;
  top: 35px;
  font-family:  "sans-serif"; 
}
.skills-section {
  text-align: center;
  padding: 40px 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-left:75px;
  margin-right: 120px;
}
.project h2{
  margin-top: 55px;
  font-size: 25px;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 35px;
  margin-top: 100px;
  margin-left: 30px;
  /* opacity: 1; */
}
.contact h1{
  color: rgba(255, 255, 255, 0.776);
  margin-top: 250px;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 60px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
}
.contact p , h3{
   color: rgba(255, 255, 255, 0.776);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 60px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif; 
}
.contact a{
  color: rgba(255, 255, 255, 0.776);
  font-size: 100px;
  /* text-align: center; */
  margin-top: 40px;
  position: relative;
  top: 70px;
  left: 30px;
  margin-left:50px;
  font-family: 'Lato', sans-serif; 
}


}